<h3 class="ui header">{{t "forms.i-i-s-tab-бригада-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.начбр
      class=(if (v-get validationModel "начбр" "isInvalid") "error")
      label=(t "forms.i-i-s-tab-бригада-e.начбр-caption")
      data-test-i-i-s-tab-бригада-e-начбр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "начбр" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.конбр
      class=(if (v-get validationModel "конбр" "isInvalid") "error")
      label=(t "forms.i-i-s-tab-бригада-e.конбр-caption")
      data-test-i-i-s-tab-бригада-e-конбр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "конбр" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.назначение
      class=(if (v-get validationModel "назначение" "isInvalid") "error")
      label=(t "forms.i-i-s-tab-бригада-e.назначение-caption")
      data-test-i-i-s-tab-бригада-e-назначение=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "назначение" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-tab-бригада-e.состав-caption"}}</label>
    {{flexberry-groupedit
      componentName="составGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.состав
      content=model.состав
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "состав" "isInvalid") "error")
      data-test-i-i-s-tab-бригада-e-состав=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "состав" "message")}}
  </div>
</form>
